@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
  background: #1f1f1f;
  height: 100vh;
}

.bg0 {
  background: none;
}

.b0 {
  border: none;
}

.navigation {
  flex-direction: column;
  position: fixed;
  border: 1px solid #575757;
  border-radius: 30px;
  top: 322px;
  right: 68px;
  padding: 24px 0;
  /* background: #1f1f1f; */
  text-align: center;
  gap: 40px;
}

ul.navigation li {
  border: 0;
  background: none;
  padding: 0;
}

.navigation li a {
  display: block;
  position: relative;
  width: 55px;
  transition: all 0.3s;
  color: #999999;
  text-decoration: none;
}

.navigation li a:hover {
  color: #28e98c;
}

.navigation li a i {
  font-size: 18px;
  display: block;
}

.navigation li a span {
  position: absolute;
  font-size: 12px;
  right: 100%;
  background: #404042;
  color: #fff;
  display: block;
  padding: 3px 8px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.tooltip-text.visible {
  visibility: visible;
  opacity: 1;
}

.left-profile-bar {
  max-width: 485px;
  width: 100%;
  border: 1px solid #565656;
  border-radius: 30px;
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.left-profile-bar img {
  width: 100%;
  border-radius: 30px;
}

.left-profile-bar .user-email {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-family: 'PT Serif', serif;
}

.left-profile-bar .user-address {
  font-size: 16px;
  color: #28e98c;
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
  font-family: 'PT Serif', serif;
}

.user-address span {
  color: #7a7a7e;
}

.left-profile-bar ul li {
  padding:  0;
}

.left-profile-bar ul.social {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.left-profile-bar .social .social-profile-link {
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 46px;
  color: #565656;
  border: 2px solid #565656;
  border-radius: 50%;
  font-size: 20px;
  transition: all .3s;
}

.left-profile-bar a.social-profile-link:hover {
  color: #28e98c;
  border-color: #28e98c;
}

.left-profile-bar .get-in-touch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f1f1f;
  background: #28e98c;
  border-radius: 30px;
  text-decoration: none;
  padding: 11px 58px 10px 58px;
  transition: all .3s;
  border: 2px solid #28e98c;
  text-transform: uppercase;
  font-weight: 500;
}

.left-profile-bar .get-in-touch:hover {
  background: none;
  color: #28e98c;
}

.navigation li a.active{
  color: #28e98c;
}

/* Media Queries */
@media (max-width : 2000px) {
  .navigation {
    top: 50%;
    transform: translateY(-50%);
  }

  .left-profile-bar {
    max-width: 400px;
  }

  .left-profile-bar .social {
    margin-bottom: 30px;
  }
}

/* Home section */
.hero-section {
  padding: 68px 0;
}

.main-content {
  max-width: 770px;
  width: 100%;
  margin-left: auto;
}

.container.custom-width {
  max-width: 1130px;
}

.hero-section .main-content .subtitle__rounded {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  color: #fff;
  border: 1px solid #565656;
  border-radius: 30px;
  padding: 9px 20px;
  text-transform: uppercase;
  margin-bottom: 53px;
  font-weight: 400;
  letter-spacing: 1px;
}

.section-header .subtitle__rounded i {
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 1px;
}

.hero-section .main-content h1 span.name__highlight {
  color: #28e98c;
  font-weight: 400;
}

.hero-section .main-content h1 {
  font-size: 78px;
  margin-bottom: 43px;
  font-weight: 300;
  line-height: 80px;
}

.section-header h1 {
  color: #fff;
}

.hero-section .main-content .intro-text {
  max-width: 450px;
  margin-bottom: 31px;
  line-height: 30px;
}

p.intro-text {
  color: #999999;
  font-size: 18px;
}

@media (max-width : 1555px) {
  .left-profile-bar {
    padding: 30px;
    max-width: 350px;
  }

  .left-profile-bar img {
    margin-bottom: 46px;
  }
}